#container {
	grid-template-rows: repeat(12, 200px);
}

#box1 {
	grid-column: 1 /13;
}

#box2 {
	grid-column: 1 /13;
}

#box3 {
	grid-column: 1 /13;
}

main {
	grid-column: 1 / 13;
	grid-row: 5 / 8;
}

aside {
	grid-column: 1 / 13;
	grid-row: 8 / 9;
}

footer {
    grid-row: 9 / 13;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 200px);
	margin-bottom: 60px;
}